body {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ',Verdana,'ＭＳ Ｐゴシック',sans-serif;
}

.clearfix:after{
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: ".";
}

.header-title{
    border-bottom: 2px solid #5CE600;
}

.header-title a:link{
    color:#000000;
    text-decoration:none
}
.header-title a:visited{
    color:#000000;
    text-decoration:none
}

.border-solid{
    border: 2px solid #5CE600;
}

.hostinfo-row{
    margin: 0px -5px 7px -5px;
}

.hostinfo-col{
    padding: 0px 5px;
}

.map-col{
    height: 400px;
    margin-top: 6px;
}

.infoWindow-ul{
    list-style-type: none;
    padding-left: 13px;
    margin-bottom: 0px;
}

.hostinfo-list{
    height: 536px;
    border-left: 2px solid #5CE600;
    border-right: 2px solid #5CE600;
    border-bottom: 2px solid #5CE600;
    overflow-y: scroll;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover
{
    color: #FFF;
    background-color: #5CE600;
}

.nav-pills>li>a{
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
    color: #000;
    border: 2px solid #5CE600;
}

.nav-pills>li+li{
    margin-left: 0px;
}

.nav-justified > li > a{
    margin-bottom: 0px;
}

.hostinfo-date-header{
    height: 45px;
    box-shadow: 0px 1px 2px 1px #CCCCCC;
    line-height: 45px;
    border: solid #CCCCCC;
    border-width: 1px 0px 1px 0px;
}

.hostinfo-date{
    padding-left: 12px;
    font-size: 18px;
}

.hostinfo-space{
    width: 95%;
    height: 12px;
    margin: 0px auto;
}

.hostinfo-card{
    width: 90%;
    height: 130px;
    background-color: #E3FFEB;
    margin: 0px auto;
    box-shadow: 0px 2px 2px 1px #CCCCCC;
}

.hostinfo-name{
    font-size: 18px;
    margin-left: 8px;
}

.hostinfo-photo{
    width: 80px;
    height: 80px;
    margin-left: 15px;
    float: left;
}

.hostinfo-contents{
    list-style-type: none;
    margin-top: 5px;
    margin-left: 66px;
}

.hostinfo-contents>li{
    margin-bottom: 5px;
}

.latest-photo-col{
    height: 280px;
}

.top-carousel-box{
    width: 93%;
    margin: 0 auto;
}

.slick-prev:before
,.slick-next:before{
    color: #5CE600;
}

.top-carousel-photo{
    width: 180px;
    height: 180px;
}

.latest-photo-title{
    border-bottom: 2px solid #5CE600;
    margin: 5px auto 12px auto;
    padding-left: 10px;
}

.top-carousel-comment{
    background-color:#E3FFEB;
    width: 180px;
    height: 40px;
    text-align: center;
    margin-top: -9px;
    margin-bottom: 0px;
    padding-top: 9px;
}

.top-carousel-comment-text{
    align-content: center;
}

/*開催団体ページ*/
.panel{
    box-shadow: none;
}

.panel-default{
    border-style: none;
    margin-top: 10px;
}

.panel-default > .panel-heading{
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid #5CE600;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body{
    padding-bottom: 0px;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body{
    padding-top: 5px;
    border-style: none;
}

.hostgroup-contents{
    min-height: 750px;
    height: auto !important;
    height: 750px;
    margin-top: -2px;
}

.hostgroup-name{
    margin-top: 0px;
}

.hostgroup-top-photo{
    padding-top: 13px;
    max-width: 100%;
}

.hostgroup-top-introduction{
    margin-top: 10px;
}

.hostgroup-top-subcontents-col{
    border-left: 1px solid #D9D9D9;
    min-height: 750px;
    height: auto !important;
    height: 750px;
    padding: 0px;
}

.hostgroup-top-subcontents-header{
    width: 100%;
    height: 40px;
    background-color: #E3FFEB;
    box-shadow: 0px 2px 2px 1px #CCCCCC;
    font-size: 18px;
    padding-top: 6px;
    padding-left: 10px;
}

.hostgroup-top-subcontents-body{
    height: 40px;
    margin-bottom: 0px;
    font-size: 18px;
    padding-top: 6px;
    padding-left: 10px;
}

.hostgroup-top-subcontents-map{
    width: 98%;
    height: 200px;
}

.hostgroup-top-map{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #5CE600;
}

.hostgroup-branchperson-list{
    margin-top: 10px;
/*    position: relative;*/
/*    overflow: hidden;*/
    min-height: 230px;
    max-height: 500px;
    overflow-y: auto;
}

.hostgroup-branchperson-list ul{
    list-style-type: none;
    padding-left: 0px;
/*    position: relative;*/
/*    left: 50%;*/
/*    float: left;*/
}

.hostgroup-branchperson-list ul li{
/*    position: relative;*/
/*    left: -50%;*/
    float: left;
}

.hostgroup-branchperson-list ul li:not(:first-child){
    padding-left: 20px;
}

.hostgroup-branchperson-photo{
    width: 180px;
    height: 180px;
}

.hostgroup-branchperson-name{
    background-color:#E3FFEB;
    width: 180px;
    height: 40px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 9px;
}

.hostgroup-branchperson-blank{
    width: 180px;
    height: 40px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 9px;
}

.hostgroup-branchperson-text{
    text-align: center;
}

.hostgroup-photo-box{
    margin: 0 auto;
    height: 730px;
    overflow-y: auto;
}

.hostgroup-photo-card-list{
    margin: 0 auto;
    height: 630px;
    overflow-y: auto;
}

.hostgroup-photo-card{
    width: 98%;
    height: 280px;
    margin: 0px auto 15px auto;
    box-shadow: 0px 2px 2px 1px #CCCCCC;
}

.hostgroup-photo-carousel-box{
    width: 93%;
    margin: 0 auto;
}

.hostgroup-photo-branchperson-name{
    padding-top: 7px;
    padding-left: 10px;
    font-size: 18px;
}

.hostgroup-uploadphoto-input-col{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    width: 300px;
}

.hostgroup-uploadphoto-box{
    width: 400px;
    height: 400px;
    background-color: #E3FFEB;
    font-size: 22px;
    color: #AAAAAA;
    text-align: center;
    margin: 20px auto;
    padding-top: 170px;
}

.hostgroup-uploadphoto-box-img{
    width: auto;
    height: auto;
    max-width: 396px;
    max-height: 396px;
}

.hostgroup-uploadphoto-input-row1{
    height: 50px;
    width: 300px;
    margin-bottom: 5px;
}

.hostgroup-uploadphoto-input-row2{
    height: 75px;
    width: 300px;
}

.hostgroup-uploadphoto-cation1{
    height: 40px;
    width: 100px;
    padding-top: 4px;
    float: left;
}

.hostgroup-uploadphoto-cation2{
    height: 60px;
    width: 100px;
    padding-top: 14px;
    float: left;
}

.hostgroup-uploadphoto-select{
    height: 40px;
    width: 200px;
    background-color: #E3FFEB;
    float: left;
}

.hostgroup-uploadphoto-comment{
    height: 60px;
    width: 200px;
    resize: none;
    background-color: #E3FFEB;
    float: left;
}

.hostgroup-uploadphoto-button{
    width: 300px;
    height: 40px;
    margin-top: 30px;
    color: #FFF;
    background-color: #5CE600;
}

.hostgroup-uploadphoto-button:disabled{
    background-color: #ddeddf;
    color: #999999;
}

.footer-row{
    margin: 0px 0px 0px 0px;
}

.footer-col{
    height: 30px;
    background-color: #D5FFDE;
}

.footer-contents1{
    margin-top: 8px;
    padding-top: 5px;
}

.footer-contents2{
    padding-top: 5px;
}

.footer-title{
    font-size: 18px;
}

.footer-inquiry{
    padding-left: 15px;
}

.copyright{
    text-align: right;
    font-size: 10px;
    color: #999999;
}


/*col-sm以上*/
@media screen and (min-width: 768px) {
   .map-col{
        height: 580px;
        margin-top: 0px;
    }

    .hostinfo-col{
        padding: 5px;
    }

    .nav-pills>li>a{
        padding-top: 7px;
        font-size: 18px;
        height: 44px;
    }

    .latest-photo-title{
        font-size: 18px;
    }
}

/*col-md以上*/
@media screen and (min-width: 992px) {
    .footer-row{
        margin: 10px 0px 0px 0px;
    }

    .footer-col{
        height: 45px;
    }

    .footer-contents1{
        padding-top: 0px;
    }

    .footer-contents2{
        margin-top: 11px;
    }

    .latest-photo-title{
        padding-left: 0px;
        width: 98%;
    }

}
